*{
	margin:0px;
	padding:0px;	
}


/*using for scroll to top menu*/
#back-to-top{
	display: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	padding: 20px;
	opacity: 0.6;
	background:url("img/Back2Top%20.png") no-repeat center;
	z-index: 9999;
}
#back-to-top:hover{
	opacity: 1;
}

/*close*/


.btn-danger{
  border-radius: 0px;
}
.out span:hover{
	color:#2680F9;
	text-decoration:none;
}
span{
	color:#FFFFFF;
}
.navbar-nav li a{
	color:#FFFFFF;	
}
.navbar-nav li:hover{
    transition:linear 0.3s;
	background-color:#2680F9;
	color:#000000;
}
.navbar-nav li a {
	color:#FFFFFF;
}
.navbar{
	z-index:1000;
	box-shadow:0px 2px 7px black;	
}
.navbar.affix{
	margin-top:0px !important;
	left:0;
	right:0;
	top:0;
}
.list-group li{
	background-color:transparent;
	color:#FFFFFF;
	border:0px;
}
.list-group a{
	color:#FFFFFF;
}
.left{
	border: 1px solid #D0C9C9;	
}
.panel panel-default-small{
width:100%;
}
.panel-title{
font-size:10px;}
.list-group-item{
width:200px;
}
.fa-chevron-right{
color:#FFFFFF;}
.list-group-item{
    display:block;
    margin-left:20px;
}
.list-group-item librePanelListGroupItem{
    padding-left:30px;
}
ul li a{
	color:#FFFFFF;
}
